<!--- 相談のカテゴリー・タグ --->
<div class="content-category">
  <div class="weight-bold-text">
    ジャンル
    <span class="indispensable">必須</span>
  </div>
  <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"content-genre"}) %>
  <div class="weight-bold-text">
    学校
    <span class="dispensable">任意</span>
  </div>
  <%= f.collection_select(:school_category_id, SchoolCategory.all, :id, :name, {}, {class:"select-box", id:"content-school_category"}) %>
  <%#<div class="weight-bold-text">
    タグ
    <span class="dispensable">任意</span>
  </div>
  <div class="content-tag">
  </div>%>
</div>
<!--- 記事の名前・内容 -->
<div class="weight-bold-text">
  相談のタイトル
  <span class="indispensable">必須</span>
</div>
<%= f.text_area :title, class:"content-text", id:"content-name", placeholder:"相談のタイトルを入力する（100文字まで)" ,rows:"1", maxlength:"100" %>
<div class="content-explain">
  <div class="weight-bold-text">
    相談の内容
    <span class="indispensable">必須</span>
  </div>
  <%= f.text_area :content, class:"content-text", id:"content-info", placeholder:"相談の内容を書く（1000文字まで）" ,rows:"20" ,maxlength:"1000" %>
</div>