<div class="side-bar_header">
  <div class="create_room">
    <%= link_to "チャットルームを作る", new_room_path, class: 'white link'%>
  </div>
</div>
<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name, room_messages_path(room), class: 'white link' %>
      </div>
    </div>
  <% end %>
</div>
