.top-page-footer{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #292929;
  border-bottom: 1px solid #292929;
  background: #73D80E;
}

.apprication-name{
  height: 70px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 70px;
  color: #FFFFFF;
  letter-spacing: 0;
}