.top-page-footer{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background: linear-gradient(90deg, #2ED513 0%, #CEE63B 68.36%, #C5F068 100%);
}

.apprication-name{
  height: 70px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 70px;
  color: #FFFFFF;
}