/*** header ***/
.home-page-header{
  width: 100vw;
  background-color: #FFFFFF;
  box-shadow: 0  4px 4px 0 rgba(136, 136, 136, 0.1);
  margin-bottom: 2px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

/*** nav-bar ***/
.nav-bar-contents{
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #888888;
}
.logo{
  width: 160px;
  height: 100%;
  display: flex;
  align-items: center;

}

.logo-icon{
  height: 19px;
  margin-left: 30px;
  margin-bottom: 6px;
  object-fit: contain;
}

.nav{
  height: 100%;
  width: calc(100vw - 78px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists-left{
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding-left: 0;
  padding-right: 10px;

}

.home{
  width: 54px;
  height: 70px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  color: #292929;
  letter-spacing: 0;
}

.watch{
  width: 90px;
  height: 25px;
  font-family: 'Noto Sans';
  font-style: bold;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #888888;
  letter-spacing: 0.05rem;
}

.lists-right{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-right: 30px;
  padding-left: 10px;
}

.upload-btn{
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #73D80E;
  border-radius: 10px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  margin-right: 8px
}

.plus-white {
  margin: 1px 9px 0 0;
}

.upload-menu{
  height: 108px;
  width: 68px;
  position: absolute;
  top: 100%;
  padding-left: 0px;
  background-color: #73D80E;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.upload-menu li{
  height: 36px;
  width: 68px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0 0 3px 0 rgba(136, 136, 136, 0.3);
}

.chat-icon {
  margin-right: 5px;
}

.notification-icon {

}

.upload-icon {
  margin: 0 2px 0 0;
}

.user-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.user-menu{
  height: 72px;
  width: 130px;
  position: absolute;
  top: 100%;
  right: 10px;
  text-align: left;
  background-color: #FFFFFF;
  border: 1px solid #888888;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
}

.user-menu li{
  height: 36px;
  width: 130px;
  line-height: 36px;
}
  
.user-menu-upper{
  border-bottom: 1px solid #888888;
  padding-left: 10px;
}

.my_page-icon {
  margin-right: 8px;
}

.user-menu-lower{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 13px;
}

.log_out-icon {
  margin-right: 6px;
  padding-bottom: 3px;
}

/*** search-bar ***/

.search-bar-contents{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 30px;
  gap: 20px;
}

.pull-down-list{
  height: 40px;
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #494949;
  color:  #494949;
  text-decoration: none;
}

.search-form{
  height: 36px;
  display: flex;
  align-items: center;
}

.input-box{
  height: 40px;
  width: 270px;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #494949;
  color:  #494949;
  text-decoration: none;
}

.search-button{
  height: 40px;
  width: 40px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #494949;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;

}