/*** header ***/
.home-page-header{
  height: 145px;
  width: 100vw;
  box-shadow: 0  2px 2px 0 #888888;
}

/*** nav-bar ***/
.nav-bar-contents{
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #888888;
}
.logo{
  width: 78px;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-icon{
  height: 30px;
  width: 30px;
  margin-left: 30px;
}

.nav{
  height: 100%;
  width: calc(100vw - 78px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists-left{
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding-left: 0;
  padding-right: 10px;
  text-decoration: none;
}

.home{
  width: 54px;
  height: 25px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #292929;
  text-decoration: none;
}

.watch{
  width: 90px;
  height: 25px;
  font-family: 'Noto Sans';
  font-style: bold;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #888888;
  text-decoration: none;

}

.lists-right{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-right: 30px;
  padding-left: 10px;
}

.upload-btn{
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #73D80E;
  border-radius: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.user-icon{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #FFFFFF;
}

/*** search-bar ***/

.search-bar-contents{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 30px;
  gap: 20px;
}

.pull-down-list{
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #494949;
  color:  #494949;
  text-decoration: none;
}

.search-form{
  display: flex;
  align-items: center;
}

.input-box{
  width: 270px;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #494949;
  color:  #494949;
  text-decoration: none;
}

.search-button{
  height: 46px;
  width: 46px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #494949;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 0;
}