<div class="top_page">
  <div class="top_page-box">
    <%= link_to image_tag('sign_in-btn', class: 'top_page-btn'), new_user_session_path %>
    <%= link_to image_tag('sign_up-btn', class: 'top_page-btn'), new_user_registration_path %>
  </div>
  <%= image_tag 'top_page-4x.png', class: 'top_page-image'%>
</div>