<%= render "shared/header" %>

<div class="main">
  <div class='chat-wrapper'>
    <div class='side_bar'>
      <%= render "messages/side_bar" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>