.question-cards {
  height: 100%;
  width: 100%;
  padding: 40 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-card-wrapper {
  min-height: calc(100vh - 140px);
  width: 660px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.question-cards-header {
  height: 28px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
  border-bottom: 1px solid #999999 ;
  margin: 16px 0;
}

.question-status{
  height: 22px;
  width: fit-content;
  line-height: 22px;
}

.question-card {
  height: fit-content;
  border-bottom: 1px solid #999999;
  margin-bottom: 16px;
}

.question-card-top {
  height: 22px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 8px;
}

.question-card-genre {
  
}

.question-card-school_category{

}

.question-card-tag {

}

.question-card-middle {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-bottom: 8px;
}

.question-cards-bottom {
  height: 22px;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.question-card-answer-contents {
  display: flex;
  flex-direction: row;
}

.answer-icon {
  
}

.question-card-answer-count {
  line-height: 20px;
  margin-left: 8px;
}

.question-card-date {
  line-height: 20px;
}