.session-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-image:url(top_page-4x.png);
  background-size: contain;
  display: flex;
  justify-content: center;
  padding-top: 270px ;
  padding-bottom: 300px;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.check-box {
  margin-top: 32px;
}
