<%= render "shared/header" %>

<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">教材編集画面</h2>
    <%= render "form" %>
</div>

<%= render "shared/footer" %>