<%= render "shared/header" %>

<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">教材新規登録</h2>
    <%= render "form" %>
  </div> 
</div>

<%= render "shared/footer" %>
