<%= render "shared/header" %>

<div class="main">
  <div class="content-create-form">
    <div class="content-create-form-main">
      <%= render "form" %> 
    </div> 
  </div>
</div>

<%= render "shared/footer" %>
